body{
	background: url("../images/audience_bg.jpg");
}
.submit{
	background-color: #4CAF50; /* Green */
	width: 100%;
	border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.wrapper{
  position: relative;
	width: 100%;
	margin: 0 auto;
}
.container{
	width: 800px;
	margin: 0 auto;
}
.timer{
	text-align: center;
    background: #FFFFFF;
    padding: 20px; 
	width: 100%;
	margin: 0 auto;
}
#question{
	width: 100%;
	text-align: center;
	border-radius: 10px;
    background: #FFFFFF;
    padding: 20px; 
    margin-top: 20px;
}
#answerOne{
	width: 100%;
	text-align: center;
    padding: 20px; 
}
#answerTwo{
	width: 100%;
	text-align: center;
    padding: 20px; 
}
#answerThree{
	width: 100%;
	text-align: center;
    padding: 20px; 
}
#answerFour{
	width: 100%;
	text-align: center;
    padding: 20px; 
}
#answerFive{
	width: 100%;
	text-align: center;
    padding: 20px; 
}